<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "utf-8">

    <title> NBP Internship sumin lee</a></title>


        <body>

            <h1> 2017 NBP Internship page - <a href="profile" target="_blank">sumin lee</a></h1>
            <h3> STEP1 </h3>
            <p> VM : Centos 7.2,2vCPU 4GB mem </p>
            <p> language to use: python(2.7)</p>
            <p> web framework: flask(0.1.2)</p>
            <p> web server: nginx </p>
            <p> database: postgresql(9.3), SQLAlchemy(0.7.2) </p>
            <p> etc: pip(8.1.2), virtualenvwrapper(4.7.2), python-psycopg2, git </p>
            <p> working on virtual environment "proj"</p>

            <h3> <a href="step2" target="_blank">STEP2</a></h3>
            <p> Server: nginx / DB: PostGreSQL with SQLAlchemy </p>

            <h3> STEP3 </h3>
            <p> dataset: 2014년 여성안심귀가 스카우트 이용현황 </p>
            <p> tablename: guard </p>
            <p> SQLAlchemy를 이용하여 플라스크 상에서 db에 접속해 파이썬 코드로 작업을 했습니다. </p>

            <h3> <a href="step4" target ="_blank">STEP4 </a> </h3>
            <p> JavaScript Package: Jquery, Jqgrid </p>

            <h3> STEP5 </h3>
            <p> repository name: <a href = "https://oss.navercorp.com/NBP-2017-Intern-Program/sumin-lee816" target ="_blank">sumin-lee816</a></p>
            <p> 처음에는 개인 저장소에서 작업하다가, 지정된 저장소가 주어진 후로 그쪽으로 clone했습니다. </p>

            <h3> STEP6 </h3>
            <h3> STEP7 </h3>
            <h3> STEP8 </h3>

        </body>
</html>

