<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "utf-8">

        <title> Sumin.Lee </title>


        <body>

            <h1>Sumin Lee </h1>

            <h4> contact </h4>
            <p>phone: 010-2474-2139</p>
            <p>mail: <a href="mailto:dltnals816@skku.edu" target="_blank">dltnals816@skku.edu</a> /<a href="mailto:sumin.lee816@navercorp.com" target="_blank"> sumin.lee816@navercorp.com</a> </p>

            <h3> Experience </h3>
            <p> 2013~ : SKKU depart of Mathematics </p>
            <p> 2015 summer: 성균관대학교 수학과 빅데이터 썸머스쿨</p>
            <p> 2017 Feburary ~: Naver Business Platform internship </p>

            <h3> Skills </h3>
            <p> Language: C, Python, sage, Java, Javascript </p>
            <p> Web Frameworks: Flask </p>
            <p> Web Server: nginx </p>
            <p> DB: SQLAlchemy </p>
            <p> Tools: Vim, Sublimetext, Git </p>

            <h3> Etc </h3>
            <p> 2013~: 성균관대학교 생활도서관 (2014 2학기 관장)</p>


        </body>
</html>

